@model PagedList.IPagedList<ManagerTasks.Models.CategoryTask>
@using PagedList.Mvc

@using (Html.BeginForm("Delete", "CategoryTasks", FormMethod.Post, new { @id="deleteform" }))
{
    <table class="table">
        <tr>
            <th style="width: 30px"><input type="checkbox" id="thcheckbox" /></th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Title)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Description)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().IsActive)</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td><input type="checkbox" name="Id" value="@item.Id" /></td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>@Html.ActionLink("Edit", "Manager", new { id = item.Id }, new { @class = "btn btn-info" })</td>
                <td><button type="submit" name="Id" value="@item.Id" class="btn btn-danger" onclick="return confirm('Delete: '+'@item.Title'+' ?')">Delete</button></td>
            </tr>
        }
    </table>
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
}